%h2.well= "#{@match.team_a} #{@match.score || "vs"} #{@match.team_b} "
%table.table.table-striped
  %thead
    %th User
    %th Prediction
    %th
  %tbody
    - @predictions.each do |prediction|
      %tr
        %td= prediction.user.name
        %td
          - if prediction.team_a_score
            = prediction.predicted_score
          - else
            = prediction.result
        %td
          - unless @match.result.nil?
            - if prediction.correct?
              %i.icon-ok
              - if prediction.score_correct?
                %i.icon-ok
            - else
              %i.icon-remove
