%ul.nav.nav-tabs
  - @matches_by_date.keys.each_with_index do |group, index|
    %li{ class: "#{'active' if index == 0 }" }
      %a{ :href => "##{group.gsub(/\W*/, "")}", "data-toggle" => 'tab'}
        = group

%div.tab-content
  - @matches_by_date.each_pair do |group, matches|
    %div{id: group.gsub(/\W*/, ""), class: "tab-pane #{'active' if @matches_by_date.keys.index(group) == 0}"}
      %table.table.table-striped.schedule-table
        %thead
          %th Time
          %th Match
          - if logged_in?
            %th Prediction
            %th Actions
        %tbody
          - matches.each do |match|
            %tr{id: match.kick_off_date == Date.today ? "today" : ""}
              %td
                %span.convert-to-local-time{ "data-time" => match.kick_off_time, "data-format" => "ddd, MMMM Do" }
                %strong.convert-to-local-time{ "data-time" => match.kick_off_time, "data-format" => "- HH:mm" }
              %td= "#{match.team_a} vs #{match.team_b}"
              - if logged_in?
                %td
                  .span3.prediction
                    - if logged_in?
                      - @prediction_result = nil
                      %span.prediction_message
                        - if prediction = current_user.prediction_for(match)
                          - if match.score.nil?
                            = prediction.predicted_score
                          - else
                            = prediction.predicted_score
                            - if prediction.correct?
                              %i.icon-ok
                              - if prediction.score_correct?
                                %i.icon-ok
                            - else
                              %i.icon-remove
                            &nbsp;( #{match.score} )
                          - @prediction_result = prediction.result + prediction.predicted_score
                      - if match.open_for_prediction?
                        %a.prediction_link{ 'data-toggle'=>"modal", 'href'=>"#prediction_form_for_#{ match.id}"}
                          - if @prediction_result.nil?
                            Predict
                          - else
                            %i.icon-edit
                        .modal.hide{ id: "prediction_form_for_#{ match.id}" }
                          .modal-header
                            %h3 What do you think will be the outcome for this match
                          %form.prediction_form{action: "/match/#{match.id}/predict", method: :post}
                            - prediction = current_user.prediction_for(match)
                            .modal-body
                              .alert.alert-error
                              %label.score
                                .span1
                                  = match.team_a
                                %select{ name: "team_a_score", style: "width: 100%" }
                                  - (0..10).each do |x|
                                    %option{ value: x, selected: prediction && (prediction.team_a_score.to_i == x) }= x
                              %img{ src: "images/vs-icon.png", style: "width: 125px" }
                              %label.score
                                .span1
                                  = match.team_b
                                %select{ name: "team_b_score", style: "width: 100%" }
                                  - (0..10).each do |x|
                                    %option{ value: x, selected: prediction && (prediction.team_b_score.to_i == x) }= x

                            .modal-footer
                              %a.btn{ href:"#", 'data-dismiss' => "modal" } I'm not Sure Yet
                              %button.btn.btn-primary.submit_prediction I'm Confident, Submit

                %td
                  - if logged_in? && match.prediction_deadline_passed?
                    %a{href: "/match/#{match.id}/predictions", "data-remote" => true}
                      %i.icon-eye-open
                  - if admin? && match.completed?
                    %a{href: "/match/#{match.id}/result"} Result
