%table.table.table-striped
  %thead
    %th Match
    %th Prediction
    %th Result
    %th
  %tbody
    - @predictions.each do |prediction|
      %tr
        - match = prediction.match
        %td= "#{match.team_a} vs #{match.team_b}"
        %td
          - if prediction.team_a_score
            = prediction.predicted_score
          - else
            = prediction.result
        %td
          - if match.result.nil?
            = "Match not finished"
          - else
            - if prediction.correct?
              %i.icon-ok
              - if prediction.score_correct?
                %i.icon-ok
            - else
              %i.icon-remove
            &nbsp;( #{match.score} )
        %td
          - if match.prediction_deadline_passed?
            %a{href: "/match/#{match.id}/predictions", "data-remote" => true}
              %i.icon-eye-open
