%p
  Hi, #{@user.email} your epl-pundits 2014 account has been activated. Please sign in at
  %a{ href: "http://epl-pundits.heroku.com/"} http://epl-pundits.heroku.com/.
  %br
  Your password is:
  %b #{@password}
%p
  %b Guidelines for the game
  %ul
    %li You can change your prediction as many times as you want until 15 minutes before the kickoff time.
    %li It is possible to watch other's prediction only after 15 minutes before the kickoff time.
    %li An email will be sent to you at every game's kickoff time with all the players predictions.
    %li Winner takes all the money
    %li In case the app is down, email us your prediction at dipil.saud@gmail.com
    %li If there is tie for first place, the amount will be shared between the winners.
    %li Lastly, you can change your password through the app.
%p
  Best of Luck.
  %br
  %b Epl-Pundits Admin (Abhaya Dipil)
